body {
	font-family: 'Roboto',sans-serif;
	background-color: #eee;
}
h1 {
	font-size: 3em;
	text-align: center;
}
h2 {
	font-size: 1em;
	text-align: left;
}
p {
	font-size: .9em;
}
div {
	border-radius: 4px;
}
#container
{
	display: flex;		/* makes container a flexbox*/
	flex-flow: row wrap; 	/* layout the boxes in rows and wrap them*/
	box-sizing: border-box;
	 margin-right: auto;
	margin-left: auto; 
	max-width: 1050px;	
	padding-bottom: 10px;
	vertical-align: baseline;
}
.bottom_button{
	display: flex;
	box-sizing: border-box;
	border-radius: 4px;
	display: block;
	width: 100%;
	background-color:rgba(129, 187, 201,.85);
	text-align: center;
	padding: 1em .75em;
	text-decoration: none;
	color: #fff;
	align-self: baseline;

}

.card_bottom{
	display: flex;
	flex-flow: column;
}
.card_head {
	flex: 0;
}

.card{
	flex: 1; /* */
	display: flex;	/* make the contents controllable by flexbox*/
	flex-flow: column;	/* */
	max-width: 35%; /**/
	margin: 0;
	padding: 0;
	background-color: #fff;
	align-self: baseline;
	justify-content: space-between;
	
	
}
.card_image {
	width: 100%;
}
.card_para {
	flex: 1 0 auto;
	padding-top: 50px;
	
}
.row {
	flex: 1;
	width: 100%;
	padding-bottom: 100px;
	margin: 0;
	
}
button {
	align-self: baseline;
}
#button3, #button2 {
	margin-top: 70px;
}
#button5, #button6 {
	margin-top: 52px;
}



/*************************
Navigation
**************************/

html {
	position: relative;
	min-height: 100%;
}
body {
	margin: 0 0 100px;
	padding: 0;
}
footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 50px;
	width: 100%;
	overflow: hidden;
	text-align: center;
	margin-top: 10px;
	padding-bottom: 0;
}
nav {
	font-family: roboto;
	background-color: #eee;
	
	width: 100%;
}
ul {
	display: flex;
	justify-content: space-between;
	flex-flow: row;
	align-items: baseline;
	border-radius: 10px;
	list-style-type: none;
	padding-bottom: 10px;
}
li {
	flex: 1;
	height: 30px;
	font-family: Dosis;
	padding: 20px;
	text-align: center;
	font-size: 1.3em;
	justify-content: space-around;
	align-items: baseline;
}
#logoNav {
	flex: 6;
	text-align: left;
	font-size: 2em;
	font-weight: bold;
}

.underline{
  text-decoration: underline;
}
.border{
  border: solid 5px #ccc;
}

.highlight_text {
	color: red;
}

.hover_color {
	background-color: lightblue;
}
.font_increase {
	font-size: 35px;
}
.bodycolor_change {
	background-color: black;
}
.bodycolor_grey {
	background-color: grey;
}

.makeRed {
	background-color: red;
}
.makeBorder {
	border: solid 2px black;
}
#myfooter {
	width: 100%;
	text-align: center;
}
#copyright {
	margin-top: 10px;
	margin-bottom: 10px;
}
#logo {
	width: 800px;
	margin: auto;
}
.wrapper {
	margin: auto;
}



@media screen and (max-width: 700px) {
	ul {
		flex-flow: column;
		align-items: center;
	}
	li {
		font-size: 2em;
	}
}